
.container{
    background-color: #ffffff;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    max-height: 90vh;
    overflow: auto;
    transition: .5s;
}

@media only screen and (max-height: 300px){
    .container{
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.container::-webkit-scrollbar-track {
    background: transparent; 
}

.container::-webkit-scrollbar-thumb {
    background: #8a8a8a4d; 
    border-radius: 5px;
}
  
.container::-webkit-scrollbar-thumb:hover {
    background: #7c7c7cb0; 
}

.card{
    min-width: 15rem;
    width: 15rem;
    margin: 5px;
    background-color: #fafafa;
    box-shadow: 2px 2px 3px 1px #cacaca;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    padding: 1rem;
}

.card p{
    grid-row: 1 / 2;
    margin: 0;
}

.card p b{
    float: right;
    opacity: .4;
    cursor: pointer;
    transition: .3s;
}

.card p b:hover{
    opacity: .8;
}

.card h2{
    grid-row: 2 / 3;
    margin: 0;
    max-width: 18rem;
    word-wrap: none;
}

.card div{
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.card div p{
    font-weight: bold;
    color: #919191ee;
}

.positive{
    color: #28a745ee!important;
}

.positive::before{
    content: '\21E7';
}

.negative{
    color: #dc3545ee!important;
}

.negative::before{
    content: '\21E9';
}
